<router-outlet></router-outlet>

<div class="linea">

    <h5>CALIFICACIÓNES</h5>
  
  </div>
  <div class="table">
  <table class="table table-bordered">
    <thead>
      <tr class="titulo">
        <th scope="col">MATRICULA</th>
        <th scope="col">NOMBRE COMPLETO</th>
        <th scope="col">ASISTENCIA</th>
        <th scope="col">TAREA</th>
        <th scope="col">EXAMEN</th>
        <th scope="col">CALIFICACIÓN</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">17391027</th>
        
        <td>rogelio lopes maya <br><br><br><br><br><br><br><br></td>
        <td>80</td>
        <td>80</td>
        <td>80</td>
        <td>80</td>
      </tr>
      
    </tbody>
  </table>
</div>

