<router-outlet></router-outlet>

<div class="linea">

    <h5>LISTADO DE PROFESORES</h5>
  
  </div>
  <div class="table">
  <table class="table table-bordered">
    <thead>
      <tr class="titulo">
        <th scope="col">MATRICULA</th>
        <th scope="col">NOMBRE COMPLETO</th>
        <th scope="col">CURSOS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">17391027</th>
        
        <td>LUIZ RICARDO DIAZ CHAVEZ<br><br><br><br><br><br><br><br></td>
       
        <td> 1,2,3</td>
      </tr>
      
    </tbody>
  </table>
</div>

