<router-outlet></router-outlet>

<div class="linea">

    <h5>Matematicas</h5>
  
  </div>
  

<div class="row">

  <div class="col-md-2">
      <div class="card">
      
        <h4>TAREAS</h4>
        <p>FECHA DE ENTREGA: 25/07/2020</p>
        <p>Proyecto Unidad 2 – Primera Parte </p>
      </div>
  </div>


  <div class="dos col-md-5">
      <div class="card2">
      
        <h4>PROYECTO INTEGRADORA UNIDAD 2 -PRIMERA PARTE</h4>
        <p>FECHA DE CREACION: 25/07/2020</p>
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus magna, ultrices eget volutpat quis, porta ac arcu. Donec maximus erat a facilisis feugiat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus magna, ultrices eget volutpat quis, porta ac arcu. Donec maximus erat a facilisis feugiat.</h6>
        <p>FECHA DE ENTREGA: 25/08/2020</p>
        <a href="#">PDF</a>
      </div>
  </div>


  <div class="tres col-md-5">
      <div class="card3">
      
        <h4>SUBIR TAREA</h4>

        <a class="boton" href="">subir documento</a>

        <a class="boton2" href="">Marcar Tarea Completada</a>
      </div>
  </div>
</div>
