
.tabla{
    padding-top: 40px;
}
.tabla .checkbox{
    font-size: 15px;
    text-align: center;
}
.tabla td{
    font-size: 15px;
    width: 500px;
}
.tabla th{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    width: 500px;
}