<router-outlet></router-outlet>

<div class="linea">

    <h5>Materias</h5>
  
  </div>
  
  
  <div class="container">
         
    <div class="card">
        
        <h4>TAREAS</h4>
        <p>FECHA DE ENTREGA: 25/07/2020</p>
        <p>Proyecto Unidad 2 – Primera Parte </p>
        
    </div>

    <div class="container2">
         
        <table class="tabla">
			
			<colgroup>
				<col style="width: 10%"/>
				<col style="width: 10%"/>
				<col style="width: 10%"/>
			</colgroup>
			<thead>
				<tr>
					<th rowspan="10">CALIFICACIONES</th>
				</tr>
				<tr>
					<th>Unidad 1</th>
                    <th>Unidad 2</th>
                    <th>Unidad 3</th>
                    <th>Unidad 4</th>
                    <th>Unidad 5</th>
                    <th>Unidad 6</th>
                    <th>PROMEDIO</th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
					<th> <br><br> </th>
                    <td></td>
                    <th></th>
                    <td></td>
                    <th></th>
                    <td></td>
                    <th></th>
					<td></td>
				</tr>
				<tr>
					<th><br><br></th>
                    <td></td>
                    <th></th>
                    <td></td>
                    <th></th>
                    <td></td>
                    <th></th>
                    <td></td>
                    
                </tr>
                <tr>
					<th><br><br></th>
                    <td></td>
                    <th></th>
                    <td></td>
                    <th></th>
                    <td></td>
                    <th></th>
                    <td></td>
                    
                </tr>
                <tr>
					<th><br><br></th>
					<td></td>
					<th></th>
                    <td></td>
                    <th></th>
                    <td></td>
                    <th></th>
					<td></td>
				</tr>
            </tbody>
            
		</table>
        </div>

        <div class="promedio">
            <h1>PROMEDIO CUATRIMESTRAL</h1>
            <p>86.90</p>
        </div>
        
        <div class="promedio2">
            <h1>CALIFICACION FINAL</h1>
            <p>SA</p>
        </div>

        
    
  </div>
  