<router-outlet></router-outlet>

<div class="linea">

    <h5>TAREAS ASIGNADAS</h5>
  
  </div>
  
  
  <div class="container">
         
    <div class="card">
        
        <h4>INVESTIGACION DE LA UNIDAD 2</h4>
        <p>FECHA DE ENTREGA: 27-JUNIO-2020</p>
        <p>ALUMNOS          28  <br> ENTREGADOS:   0</p>
        <button type="button" class="btn btn-success">editar</button>
        <button type="button" class="btn2 btn-danger">eliminar</button>
    </div>
    
    <div class="card">
        
        <h4>DOCUMENTACION DE LA UNIDAD 2</h4>
        <p>FECHA DE ENTREGA: 30-JUNIO-2020</p>
        <p>ALUMNOS          28  <br> ENTREGADOS:   0</p>
        <button type="button" class="btn btn-success">editar</button>
        <button type="button" class="btn2 btn-danger">eliminar</button>
    </div>
    
  </div>
