.linea h5{
    background-color: #D6D5D2;
    color: #8C8B8B;
    position: static;

    height: 70px;
    font-size: 40px;
    padding-top: 15px;
    padding-left: 150px;
    margin: 0px;
}

.table{
    position: static;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.table .titulo{
    background-color: #00ab84;
}