<router-outlet></router-outlet>

<div class="linea">

    <h5>ALUMNOS ASIGNADOS</h5>
  
  </div>
  <div class="table">
  <table class="table table-bordered">
    <thead>
      <tr class="titulo">
        <th scope="col">MATRICULA</th>
        <th scope="col">NOMBRE COMPLETO</th>
        <th scope="col">BECAS</th>
        <th scope="col">CURSOS ASIGNADOS</th>
        <th scope="col">ACCION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">17391027</th>
        
        <td>rogelio lopes maya <br><br><br><br><br><br><br><br></td>
        <td>ALIMENTICIA <br> DEPORTIVA</td>
        <td>1,2,3</td>
        <td><button type="button" class="btn btn-success">VER</button></td>
      </tr>
      
    </tbody>
  </table>
</div>

