<router-outlet></router-outlet>

<div class="linea">

    <h5>Materias</h5>
  
  </div>
  <div class="table">
  <table class="table table-bordered">
    <thead>
      <tr class="titulo">
        <th scope="col">MATRICULA</th>
        <th scope="col">NOMBRE COMPLETO</th>
        <th scope="col">FECHA DE <br> entrega</th>
        <th scope="col">RETRASO</th>
        <th scope="col">ACCION</th>
        <th scope="col">CALIFICACIÓN</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">17391027</th>
        
        <td>rogelio lopes maya <br><br><br><br><br><br><br><br></td>
        <td>27-30-2020</td>
        <td>2 DIAS <br> 29 min</td>
        <td>80</td>
        <td>-----------------------</td>
      </tr>
      
    </tbody>
  </table>
</div>

