<router-outlet></router-outlet>

<div class="linea">

    <h5>MATEMATICAS</h5>
  
  </div>
  
  
  <div class="container">
         
    <div class="card">
        
        <h4>TAREAS</h4>
        <p>FECHA DE ENTREGA: 25/07/2020</p>
        <p>Proyecto Unidad 2 – Primera Parte </p>
        <a href="#">EXAMEN</a>
    </div>
  

    
         
        <div class="card2">
            
            <h4>Luis Ricardo Díaz Chávez ha publicado una nueva tarea: Proyecto Unidad 2 – Primera Parte </h4>
            <p>FECHA DE ENTREGA: 25/07/2020</p>
            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus magna, ultrices eget volutpat quis, porta ac arcu. Donec maximus erat a facilisis feugiat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus magna, ultrices eget volutpat quis, porta ac arcu. Donec maximus erat a facilisis feugiat.</h6>
            <p> Archivos Anexados</p>
            <a href="#">PDF</a>
        </div>
    
  </div>
