<router-outlet></router-outlet>

<div class="linea">

    <h5>MATERIAS</h5>
  
  </div>
  
  
  <div class="container">
         
    <div class="card">
        
        <h4>Matematicas</h4>
        <p>PROFESOR: ALVARADO GONZÁLEZ JOSÉ ANGEL</p>
        <a href="#">EN LINEA</a>
    </div>
    
    <div class="card">
        
        <h4>Lecturas</h4>
        <p>PROFESOR: ALVARADO GONZÁLEZ JOSÉ ANGEL</p>
        <a href="#">DESCONECTADO</a>
    </div>
    
    <div class="card">
        
        <h4>Ingles</h4>
        <p>PROFESOR: ALVARADO GONZÁLEZ JOSÉ ANGEL</p>
        <a href="#">DESCONECTADO</a>
    </div>

    <div class="card">
        
        <h4>Programacion</h4>
        <p>PROFESOR: ALVARADO GONZÁLEZ JOSÉ ANGEL</p>
        <a href="#">DESCONECTADO</a>
    </div>
    
  </div>
